# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# Environment files
.env

# Dependency directories
**/node_modules

# Build output
/build
/dist

# Netlify specific files
.netlify/

# IDE or editor folders
.vscode/
.idea/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
